*{box-sizing:border-box}
body{max-width:768px;width:100%;margin:0 auto;background:#edeae7;font:normal 100%/1.5 Iowan Old Style;color:#000;}
p{font-size:1.25rem;}

.hidden{display:block;}
.aid-item + .aid-item{border-top:1px dotted #308c8c;padding-bottom:1.25rem;}

.aid-item h3:hover{color:#308c8c;}

ol, ul{padding:0 0 0 2.5rem;font-size:1.25rem;counter-reset:li;}
li + li{margin-top:0.625rem;}
ol .np, ul .np{margin-left:-2.5rem;}

.np{padding:0.625rem 2.5rem;border-top:3px solid #308c8c;border-radius:3px;background:#fff;}

.np li{list-style:none}

ol.np li{position:relative;}
ol.np li:before{position:absolute;right:100%;counter-increment:li;content:counter(li) "." "\00a0";}

td,th{text-align:left;}

.aid-table{width:100%;border-collapse:collapse;background:#fff;border-radius:3px;overflow:hidden;}
.aid-table td,.aid-table th{padding:0.625rem 1.25rem;margin:0;vertical-align:top}
.aid-table td:first-child,.aid-table th:first-child{padding-left:2.5rem;}
.aid-table td:last-child,.aid-table th:last-child{padding-right:2.5rem;}
.aid-table thead th{margin:0;background:#308c8c;color:#fff;}
.aid-table thead tr:first-child th:first-child{border-radius:3px 0 0 0;}
.aid-table thead tr:first-child th:last-child{border-radius:0 3px 0 0;}
.aid-table tr{margin:0;}
.aid-table tr + tr td,.aid-table tr + tr th{border-top:1px solid #edeae7;}
.aid-table thead tr + tr th{border-top:1px solid #0f6666;}
.aid-table-border tr:first-child td{border-top:3px solid #308c8c;}
.aid-table-border tr:first-child td:first-child{border-radius:3px 0 0 0;}
.aid-table-border tr:first-child td:last-child{border-radius:0 3px 0 0;}

.aid-top-left{border-radius:3px 0 0 0;}
.aid-top-right{border-radius:0 3px 0 0;}

.centered{text-align:center}